<section  class="quote1" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="quote_bk final">
          <!-- <form> -->
            <div class="col-md-2 text-center  hidden-sm hidden-xs">
              <img class="img_phone" src="{{helper.getImage()}}" alt="Sellmobileonline-{{model}}">
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 quote_bk_white text-center">
              <div class="quote_bk_white2">
                <h3>Your Device Price</h3>
                <h3 class="final_h3" style="color:green;"><i class="fa fa-inr" aria-hidden="true"></i> 
                  {{ device_price }}
                </h3>
                <p id="cpn_validate" class="plus1" *ngIf="coupon.length > 0">{{ promo_amount }}</p>

                <hr>
                <h3 class="final_h3" style="color:green;" *ngIf="coupon.length > 0"><i class="fa fa-inr" aria-hidden="true"></i> 
                  {{ updated_device_price }}
                </h3>
                <p id="have" *ngIf="coupon.length > 0">Coupon Code applied</p>


                <p id="after_coupon">	</p>
                <a (click)="hidePromo = !hidePromo" id="anchr" *ngIf="coupon.length == 0">
                  <p id="have">Have a promocode</p>
                </a>

                <ng-container *ngIf="hidePromo">
                  <div class="input-group promo-inputs">
                      <input type="text" name="id" [(ngModel)]="promo" id="txt" class="cpn_code" (input)="getPromo()" (keyup.enter)="applyPromo()" class="form-control" />
                      <span class="input-group-btn">
                          <input type="button" [disabled]="promoButton" class="btn btn-primary" value="Apply" (click)="applyPromo()"/>
                      </span>
                  </div>
                </ng-container>

                <h3 class="quote_bk_white2_h3">Book your FREE phone pickup and cash delivery at home </h3>
                <div class="col-md-12 col-sm-12 form_white text-center">
                  <form [formGroup]="form" #formDir="ngForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <input type="text" name="fullname" formControlName="name" class="details" placeholder="Enter Name">
                              <span class="help-block" *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)">
                                Please enter the name!
                              </span>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <input type="text" name="address" formControlName="address" class="details" placeholder="Enter Home/Office Addess">
                              <span class="help-block" *ngIf="form.controls.address.invalid && (form.controls.address.dirty || form.controls.address.touched)">
                                Please enter the correct address!
                              </span>
                            </div>
                          </div>
                    </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                <input type="text" name="pincode" formControlName="pincode" class="details" placeholder="Enter Pincode" mask='000000'>
                                <span class="help-block" *ngIf="form.controls.pincode.invalid && (form.controls.pincode.dirty || form.controls.pincode.touched) && form.controls.pincode.hasError('required')">
                                  Please enter pincode!
                                </span>
                                <span class="help-block" *ngIf="form.controls.pincode.invalid && (form.controls.pincode.dirty || form.controls.pincode.touched) && form.controls.pincode.hasError('pattern')">
                                  Dear Customer, as of now service is available in Mumbai, Navi Mumbai, Kalyan, Thane and Mira Bhayander only.
                                </span>
                                <span class="help-block" *ngIf="form.controls.pincode.invalid && (form.controls.pincode.dirty || form.controls.pincode.touched) && form.controls.pincode.hasError('minlength') && !form.controls.pincode.hasError('pattern')">
                                  Please enter 6 digit pin code.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                                <input type="date" formControlName="date" class="details"  placeholder="Choose your Phone Pick Up date" min="{{getDate()}}" (keydown)="tabHandler($event)">
                                <span class="help-block" *ngIf="form.controls.date.invalid && (form.controls.date.dirty || form.controls.date.touched)">
                                  Please enter the correct date!
                                </span>
                                </div>
                            </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6 col-sm-6">
                              <div class="form-group">
                              <input type="password" name="mobile" formControlName="mobile1" class="mobile_number" placeholder="Mobile Number" mask="0000000000" prefix="+91" (input)="checkPhoneMatch()">
                              <!-- <span class="help-block" *ngIf="form.controls.mobile1.errors && (form.controls.mobile1.dirty || form.controls.mobile1.touched)">
                                Phone numbers do not match!
                              </span> -->
                              </div>
                              <!-- {{form.controls.mobile1 | json}} -->
                            </div>
                            <div class="col-md-6 col-sm-6"> 
                              <div class="form-group">
                              <input type="tel" name="mobile" formControlName="mobile" class="details" placeholder="Re-Enter Mobile Number" id="txtConfirmPassword" class="details" (input)="checkPhoneMatch()" mask='0000000000' prefix="+91">
                              <span class="help-block" *ngIf="form.controls.mobile.errors && (form.controls.mobile.dirty || form.controls.mobile.touched)">
                                Phone numbers do not match!
                              </span>
                              </div>
                            </div>
                      </div>
                      
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="registrationFormAlert" id="divCheckPasswordMatch">
                        </div>
                      </div>
                      <div class="col-md-12 col-xs-12 text-center form-group">
                        <button [disabled]="form.invalid || phoneMatch" type="submit" class="btn btn-primary btn-lg" name="details" id="submit" (click)="submit()"> Submit</button>
                      </div>
                  </form>
                </div>	
              </div>	
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- {{form.value | json }} -->
</section>