.help-block {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
    text-align: left
  }

  

   .details, .mobile_number {
     margin-bottom: 0;
   }
   .form-group {
     margin-bottom: 24px;
   }

   .promo-inputs {
      width: 25%;
      margin: 0 auto;
   }
@media (min-width: 320px) {
  .promo-inputs {
    width: 100%;
 }
}
@media (min-width: 480px) {
  .promo-inputs {
    width: 50%;
 }
}
@media (min-width: 768px) {
  .promo-inputs {
    width: 45%;
 }
}
@media (min-width: 991px) {
  .promo-inputs {
    width: 35%;
 }
}
@media (min-width: 1100px) {
  .promo-inputs {
    width: 25%;
 }
}