<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="footer_p">
          "All the brands, logos and product name belong to their respective
          companies. On the website the product name, brands and logos are used
          for their sole perspective. Uses of these product name, brands and
          logos does not indirect approval."
        </p>
      </div>
    </div>
  </div>
</div>
