.social_icons .title-text {
    font-size: 13px;
}

.head_right h1 {
    margin: 10px 0;
    text-align: center;
    font-size: 21px;
    color: #005b7f;
    padding: 0;
    font-family: arial;
}
@media only screen and (max-width: 767px){
    .head_right h1 {
        font-size: 14px;
    }
}
