<header>
  <div class="container-fluid">
    <div class="row header ">
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="logo">
          <a routerLink="/">
            <img src="assets/img/logo.png" alt="SELLMOBILEONLINE" title="SELLMOBILEONLINE" />
          </a>
          <h4 class="we">we buy used mobile phone</h4>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-6">
        <div class="head_right">
          <h1>
            Sell used phone in Mumbai | Free Pickup and CASH Delivery at Home
          </h1>
          <div class="navbar-container hidden-xs">
            <ul>
              <li class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/" routerLinkActive>Home</a>
                <div class="underline"></div>
              </li>
              <!-- <li class="nav-link">
                <a routerLink="/about-us">About Us</a>
                <div class="underline"></div>
              </li> -->
              <li class="nav-link">
                <a routerLink="/contact">Contact</a>
                <div class="underline"></div>
              </li>
              <!-- <li>
                <ul class="social_icons">
                  <li class="title-text">Connect on :</li>
                  <li class="fb_like">
                    <iframe
                      src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FCashsecondcom-652007695197623%2F&width=96&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId"
                      class="fbheader"
                    ></iframe>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://www.instagram.com/cashsecondofficial/"
                      ><img
                        class="twitt"
                        src="assets/img/twitter.png"
                        alt="instagram"
                        title="instagram"
                    /></a>
                  </li>
                  <li>
                    <a
                      target="_blank"
                      href="https://wa.me/918976332211?text=Hello!%20I%20want%20to%20sell%20my%20old%20phone"
                      ><img
                        class="twitt"
                        src="assets/img/wp.png"
                        alt="whatsapp"
                        title="whatsapp"
                    /></a>
                  </li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>