<section id="contact">
	<div class="container">
		<div class="row">
      <div class="contact_box">
        <h2 class="contact_h2">CONTACT US</h2>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="padd_cont">
          <div class="col-md-12 col-sm-5 col-xs-12">
            <!-- <div class="distance">
              <h4>Address:</h4>
              <p> 1104 Bori D.R lad Marg Near WRI Curry Road Mumbai-12.</p>
            </div> -->
            <div class="distance">
              <h4>Email:</h4>
              <p>sellmobileonline12@gmail.com</p>
            </div>
            <!-- <div class="distance">
              <h4>Contact Us:</h4>
              <p>+918976 332211</p>
            </div> -->
          </div>
        </div>
    
        <!-- <h3>Follow us</h3> -->
        
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <h3 class="form_h2">Contact form</h3>
        <form class="form-horizontal" [formGroup]="form" #formDir="ngForm">
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control" id="mobile" placeholder="Enter mobile" formControlName="mobile" mask='0000000000'>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">          
              <textarea rows="4" cols="50" class="form-control" formControlName="text" placeholder="Enter your query, feedback or request here"></textarea>
            </div>
          </div>
          <div class="form-group">        
              <button type="submit" [disabled]="form.invalid" class="btn btn-info btn-default" (click)="submit()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <iframe width="100%" height="400" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=cashsecond&key=AIzaSyAz3eZ6fSlvvrfEiBft3mmfsBCt6Q8xaKM" allowfullscreen></iframe>
  </div> -->
</section>
