<section id="quote" class="quote1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bk_calculator1">
        <div class="col-md-2 hidden-xs hidden-sm text-center">
          <img
            class="img_phone"
            src="{{helper.getImage()}}"
            alt="Sellmobileonline-{{model}}"
          />
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12 mob-no-padding">
          <div class="cal_content">
            <h3 style="margin-bottom:10px;">Phone's Overall Condition</h3>
            <p>Please choose appropriate condition to get accurate quote</p>
          </div>
          <ng-container *ngFor="let x of conditionsArray">
              <a (click)="navigate(x.alt)">
                <div class="col-xs-12 col-sm-6 col-md-6 nopad  nopad1 text-center mob-no-padding">
                  <div class="calculator3">
                    <div class="col-md-2 col-xs-2 text-center">
                      <img src="assets/img/mobile.png" />
                    </div>
                    <div class="col-md-10 col-xs-10 ">
                      <ul class="calculator3_ul2">
                        <h2>{{x.title}}</h2>
                        <li>{{x.first}}</li>
                        <li>{{x.second}}</li>
                        <li>{{x.third}}</li>
                        <li *ngIf="x.fourth">{{x.fourth}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>