.image-checkbox1 {
  padding: 15px 0 0;
  /* min-height: 152px; */
  /* margin-bottom: 30px; */
}

.five-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
}

.condition-box {
  position: relative;
}

.triangle, .triangle1, .triangle2 {
    right: 2px;
}
.image-checkbox p {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 320px) {
    .image-checkbox {
        /* height: 110px; */
        min-height: 121px;
        padding: 15px 0;
    }
    .image-checkbox p {
        /* min-height: 33px; */
        min-height: 43px;
        /* font-size: 13px;     */
    }
    .condition-box {
        -ms-flex-preferred-size: calc(50% - 16px);
            flex-basis: calc(50% - 16px);
            width: calc(50% - 16px);
        margin: 4px 8px;
        /* overflow: hidden; */
    }
}
@media only screen and (min-width: 768px) {
    .condition-box {
        -ms-flex-preferred-size: calc(25% - 16px);
            flex-basis: calc(25% - 16px);
        margin: 8px;
    }
}
@media only screen and (min-width: 991px) {
    /* .image-checkbox {
        min-height: 142px;
    } */
    .condition-box {
        -ms-flex-preferred-size: calc(20% - 16px);
            flex-basis: calc(20% - 16px);
    }
    .image-checkbox p {
        min-height: 40px;
    }
}
@media only screen and (min-width: 1100px) {
    .image-checkbox {
        min-height: 142px;
    }
    .condition-box {
        -ms-flex-preferred-size: calc(20% - 16px);
            flex-basis: calc(20% - 16px);
    }
}

@media (max-width: 480px) {
    .image-checkbox p {
        font-size: 13px;
    }
        
}