<section id="quote" class="quote1">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <app-progress-bar [activeStep]="5"></app-progress-bar>
      </div>
      <div class="col-md-2 restart hidden-xs"></div>
    </div>

    <div class="row">
      <div class="col-md-12 ">
        <div class="row bk_calculator1_row">
          <div class="">
            <div class="col-md-2 hidden-sm hidden-xs text-center">
              <img
                class=" img_phone"
                src="{{helper.getImage()}}"
                alt="Sellmobileonline-{{model}}"
              />
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
              <div class="cal_content">
                <h3>In case any issue(s), choose below</h3>
              </div>
              
              <div class="col-md-12">
                <div class="row five-three">
                  <div class="text-center condition-box" *ngFor="let x of conditionsArray, let i = index">
                    <!-- <button (click)="getCondition(i)">Test</button> -->
                    <label class="image-checkbox" [ngClass]="{'image-checkbox-checked': x.status}">
                      <img
                        class="img-responsive"
                        src="{{x.src}}"
                        alt="{{x.alt}}"
                      />
                      <p>{{x.name}}</p>
                      <input
                        name="{{ x.alt }}"
                        type="checkbox"
                        (change)="getCondition(x)"
                        [checked]="x.status"
                      />
                      <div class="triangle">
                        <i class="fa fa-times hidden"></i>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1 col-sm-12 hidden-xs">
              <div class="col-md-12 text-right calculator1">
                <button type="submit" class="hidden-xs btn btn-info button" (click)="navigate()">
                  Next <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>
            <button type="button" class="mobile_next display_none btn btn-info button" (click)="navigate()">Next <i class="fa fa-angle-right"></i></button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>