<form id="msform">
  <ul id="progressbar">
      <li [ngClass]="{'active': activeStep === 1 || activeStep > 1}"><span>Select<br> Device</span></li>
      <li [ngClass]="{'active': activeStep === 2 || activeStep > 2}"><span>Select<br> SERIES</span></li>
      <li [ngClass]="{'active': activeStep === 3 || activeStep > 3}"><span>Select<br> version</span></li>
      <li [ngClass]="{'active': activeStep === 4 || activeStep > 4}"><span>Select<br> gb</span></li>
      <li [ngClass]="{'active': activeStep === 5 || activeStep > 5}"><span>Get<br> quote</span></li>
  </ul>
</form>