<section id=quote>
  <div class=container-fluid>
    <div class="col-md-4 col-xs-12">
      <h2 class="text-center">Select the phone below you want sell ?<a target=_blank class="visible-xs " href="https://wa.me/918976332211?text=Hello!%20I%20want%20to%20sell%20my%20old%20phone"><img class="twitt wp_mob" src="assets/img/wp.png" alt=whatsapp title=whatsapp></a></h2>
      <!-- <p class="visible-xs wp_mob_call">Call us @:<a href="tel:">+91 8976332211</a></p> -->
    </div>
    <div class="col-md-7 col-xs-12">
      <app-progress-bar [activeStep]="1"></app-progress-bar>
    </div>
    <div class="col-md-2 restart hidden-xs"></div>
    <div class=row>
      <div class=row>
        <div class="col-md-12 col-xs-12 ">
          <a [routerLink]="['/apple']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-apple src="assets/img/spacer.png"  width="1" height="1" class="common_sprite apple_sprite" title=apple>
                  <h4>apple</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/samsung']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-samsung src="assets/img/spacer.png"  width="1" height="1" class="common_sprite samsung_sprite"  title=samsung>
                  <h4>samsung</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/oneplus']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Oneplus src="assets/admin/brand/oneplus.png" title=Oneplus>
                  <h4>Oneplus</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/mi']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-mi src="assets/admin/brand/mi.png" title=mi>
                  <h4>mi</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Vivo']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Vivo src="assets/admin/brand/vivo.png" title=Vivo>
                  <h4>Vivo</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/motorola']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-motorola src="assets/admin/brand/moto.png" title=motorola>
                  <h4>motorola</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Oppo']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Oppo src="assets/img/spacer.png"  width="1" height="1" class="common_sprite oppo_sprite"  title=Oppo>
                  <h4>Oppo</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Blackberry']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Blackberry src="assets/img/spacer.png"  width="1" height="1" class="common_sprite blackberry_sprite"  title=Blackberry>
                  <h4>Blackberry</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Nokia']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Nokia src="assets/admin/brand/nokia.png" title=Nokia>
                  <h4>Nokia</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Google']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Google src="assets/admin/brand/google.png" title=Google>
                  <h4>Google</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Huawei/Honor']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt="Sellmobileonline-Huawei/Honor" src="assets/admin/brand/huawai.png" title="Huawei/Honor">
                  <h4>Huawei/Honor</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/HTC']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt="Sellmobileonline-HTC" src="assets/img/spacer.png"  width="1" height="1" class="common_sprite htc_sprite"  title=HTC>
                  <h4>HTC</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Sony']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Sony src="assets/admin/brand/sony.png" title=Sony>
                  <h4>Sony</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/micromax']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-micromax src="assets/admin/brand/micro.png" title=micromax>
                  <h4>micromax</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/lenovo']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-lenovo src="assets/img/spacer.png"  width="1" height="1" class="common_sprite lenovo_sprite"  title=lenovo>
                  <h4>lenovo</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/LG']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-LG src="assets/img/spacer.png"  width="1" height="1" class="common_sprite lg_sprite"  title=LG>
                  <h4>LG</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Panasonic']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Panasonic src="assets/img/spacer.png"  width="1" height="1" class="common_sprite panasonic_sprite"  title=Panasonic>
                  <h4>Panasonic</h4>
                </div>
              </div>
            </div>
          </a>
          <a [routerLink]="['/Asus']">
            <div class="col-md-2 col-sm-3 col-xs-6">
              <div class=brand_container>
                <div class=brand_box>
                  <img alt=Sellmobileonline-Asus src="assets/admin/brand/asus.png" title=Asus>
                  <h4>Asus</h4>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id=work>
  <div class=container>
  <h1>How <span>Sellmobileonline</span> Works ?</h1>
  <div class=row>
    <div class=work-container>
      <hr class=work-line>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class=work_box>
          <img src="assets/img/s1.png" alt="Instant Quote" title="Instant Quote">
          <div class=work_content>
            <h4>INSTANT QUOTE</h4>
            <p>Select your device & unlock the best selling price based on the present conditions of your gadget & the current market price.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class=work_box>
          <img src="assets/img/s2.png" alt="FREE PICKUP" title="FREE PICKUP">
          <div class=work_content>
            <h4>FREE PICKUP</h4>
            <p>On accepting the price offered for your device. we'll arrange a free pick up.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class=work_box>
          <img src="assets/img/s3.png" alt="CASH PAYMENT" title="CASH PAYMENT">
          <div class=work_content>
            <h4>CASH PAYMENT</h4>
            <p>Instant Cash will be handed over to you at time of pickup or through payment method of your choice.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section id=contact>
  <div class=container>
      <div class=contact_box>
          <div class="row">
              <div class="col-md-2 col-sm-12 col-xs-12">
                  <h2>CONTACT</h2>
                </div>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                  <a target=_blank href="https://wa.me/918976332211?text=Hello!%20I%20want%20to%20sell%20my%20old%20phone">
                    <p class="call"> (+91) 8976 33 2211 : 10am to 7pm</p>
                  </a>
                </div> -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <p class="email">sellmobileonline12@gmail.com</p>
                </div>
          </div>
          
        </div>
  </div>
</section>