<style>
  @media (max-width: 480px) {
      .bill-box:nth-child(odd) {padding-right: 5px;}
      .bill-box:nth-child(odd) .triangle2 {right: 6px;}
      .bill-box:nth-child(even) {padding-left: 5px;}
      .bill-title {font-size: 15px;}
  }
  </style>
<section id="quote" class="quote1">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <app-progress-bar [activeStep]="4"></app-progress-bar>
      </div>
      <div class="col-md-2 restart hidden-xs"></div>
    </div>

    <!-- <div class="row">
      <div class="col-md-12"> -->
        <div class="row bk_calculator1_row">
          <div class="">
            <div class="col-md-2 text-center hidden-xs hidden-sm">
              <img
                class="img_phone"
                src="{{helper.getImage()}}"
                alt="Sellmobileonline-{{model}}"
              />
            </div>

            <form
              name="formName"
              id="formName"
              action="calculator1"
              method="post"
            >
              <input
                type="text"
                style="display:none;"
                name="g_id"
                value="805"
              />
              <input type="text" style="display:none;" name="gb" value="" />
              <input
                type="text"
                style="display:none;"
                name="modal"
                value="Redmi Note 3 3/32GB"
              />
              <div class="col-md-10 col-sm-12 col-xs-12 mob-no-padding">
                <div class="cal_content">
                  <h3>How old your phone is?</h3>
                </div>
                <div class="col-md-12 mob-no-padding">
                  <div class="row padd-content">
                    <div class="col-md-3 col-sm-3 col-xs-6 text-center bill-box" *ngFor="let x of billsArray, let i = index" (click)="getBill(x)">
                      <label class="image-checkbox1 image-checkbox1-checked" [ngClass]="x.class">
                        <img
                          class="img-responsive"
                          src="{{x.src}}"
                          alt="{{x.name}}"
                        />
                        <p class="bill-title">{{x.bill}}</p>
                        <p class="bill-info">{{x.invoice}}</p>
                        <input
                          type="checkbox"
                          name="{{x.name}}"
                          value="{{x.value}}"
                          class="slectOne"
                          [checked]="x.status"
                          hidden
                        />
                        <div class="triangle2">
                          <i class="fa fa-check hidden"></i>
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      <!-- </div>
    </div> -->
  </div>
</section>