.image-checkbox1 {
    padding: 15px 0 10px;
}

@media only screen and (min-width: 768px) {
    .image-checkbox1 {
        min-height: 200px;
    }
}

.abc{margin:10px 0};

@media (max-width: 768px) {
    .bill-title {
        min-height: 0;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .bill-info {
        font-size: 12px;
    }
}
