<section  class="quote1" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <div class="row">
        <div class="quote_bk final">
          <!-- <form> -->
            <div class="col-md-2 text-center  hidden-sm hidden-xs">
              <img class="img_phone" src="{{helper.getImage()}}" alt="Sellmobileonline-{{model}}">
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 quote_bk_white text-center">
              <div class="quote_bk_white2">
                  <!-- <h3>Your Device Price</h3>
                  <h3 class="final_h3" data-value="1300" style="color:green;"><i class="fa fa-inr" aria-hidden="true"></i> 
                    123
                  </h3>
                  <hr> -->
                <!-- <img src="assets/img/final_banner.jpg" alt="Sellmobileonline-final-banner" class="img img-responsive final-banner" style="    max-height: 350px;
                width: auto;margin: 0;">	 -->
                <h2 style = "text-align:center;display:block;font-size:40px;">Thank You</h2>
                <div>For further queries contact sellmobileonline12@gmail.com</div>
              </div>	
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- {{form.value | json }} -->
</section>