<section id="about-us">
  <div class="container">
    <h1>About Us</h1>
    <h2>We buy used mobile phones at more price.</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="about-img">
          <img src="assets/img/banner1.jpg" alt="about" />
        </div>
      </div>
      <div class="col-md-9">
        <div class="about-content">
          <p>
            “We believe that it is better to reuse rather than reprocess so that
            it saves your money and even the people who prefer pre-owned phones
            rather than going for a new phone.”
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="about-content">
          <p>
            We buy used, obsolete or otherwise undesirable gadgets directly from
            the consumer. We offer free home pickup services for used mobile
            phones and pay cash instantly. At present we offer pickup services
            in many places. Please do NOT select a device model if it does not
            exactly match the device to sell. If your exact model does not
            reflect on the website then you can contact us. We are continuously
            working to add latest devices to our catalogue. Please answer
            correctly the questions about the condition of the device and
            original accessories which are asked at the time of placing the
            request on our website, offered quote price is calculated as per the
            condition of the device. This is a completely FREE doorstep pickup
            service with no hidden charges. Sellmobileonline deals in major
            brands Apple, Samsung, One Plus, Mi, Vivo, Oppo, Motorola,
            Blackberry, Nokia, Google, Huawei, HTC, Sony, Micromax, Asus etc.
          </p>
        </div>
      </div>
    </div>
    <h2>How does Sellmobileonline provide service?</h2>
    <div class="row">
      <div class="col-md-9">
        <div class="about-content">
          <ul>
            <li>Login to Sellmobileonline.com and find your device</li>
            <li>
              Once you have found your device please answer a few simple
              questions on the current condition of the device
            </li>
            <li>
              Get an instant sell quote for your device based on the answers
              submitted by you.
            </li>
            <li>
              If you are happy with the quoted price, fill your contact and
              pickup details along with the preferred date
            </li>
            <li>
              We will arrange free pickup for your device as per date selected
              by you
            </li>
            <li>
              At the time of pickup if the actual condition of the device
              matches with information provided by you at the time of placing
              request than company authorized pickup technician will initiate
              payment in cash or any other payment mode. However, if actual
              condition of the device does not matches then you will be given
              another offer on spot.
            </li>
            <li>
              You will have the option of accepting or rejecting the new offer.
            </li>
            <li>
              If accepted by your payment will be done instantly. If rejected
              your order will be canceled and will look forward you to serve in
              future.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="about-img">
          <img src="assets/img/banner2.jpg" alt="about" />
        </div>
      </div>
    </div>
    <div class="about_footer text-center">
      <p>
        If you have any query, suggestion or feedback we are more than happy to
        listen:
      </p>
      <!-- <p>Contact : 8976332211</p> -->
      <p>E mail: sellmobile12@gmail.com</p>
      <img src="assets/img/banner4.jpg" />
    </div>
  </div>
</section>
<section id="work">
  <div class="container">
    <h1>How <span>Sellmobileonline</span> Works ?</h1>
    <div class="row">
      <div class="work-container">
        <hr class="work-line" />
        <div class="col-md-3 col-xs-6">
          <div class="work_box">
            <img src="assets/img/s1.png" alt="Instant Quote" />
            <div class="work_content">
              <h4>INSTANT QUOTE</h4>
              <p>
                Select your device & unlock the best selling price based on the
                present conditions of your gadget & the current market price.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="work_box">
            <img src="assets/img/s2.png" alt="FREE PICKUP" />
            <div class="work_content">
              <h4>FREE PICKUP</h4>
              <p>
                On accepting the price offered for your device. we'll arrange a
                free pick up.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12">
          <div class="work_box">
            <img src="assets/img/s3.png" alt="CASH PAYMENT" />
            <div class="work_content">
              <h4>CASH PAYMENT</h4>
              <p>
                Instant Cash will be handed over to you at time of pickup or
                through payment method of your choice.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12">
        <div class="work_box2">
          <img src="assets/img/yt.png" alt="YOUTUBEvedio" class="youtube" />
          <div class="work_content">
            <iframe
              width="100%"
              height="200"
              src="https://www.youtube.com/embed/Aj6LZjZHtHc"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="contact_box">
          <div class="col-md-2 col-sm-3 col-xs-12"><h2>CONTACT</h2></div>
          <!-- <div class="col-md-4 col-sm-3 col-xs-12"><a  target="_blank" href="https://wa.me/918976332211?text=Hello!%20I%20want%20to%20sell%20my%20old%20phone"><p class="call" > 89 7633 2211 : 10am to 7pm</p></a></div> -->
          <div class="col-md-6 col-sm-5 col-xs-12">
            <p class="email">sellmobile12@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
