@media only screen and (max-width: 480px) and (min-width: 321px){
    .image-checkbox1 p {
        padding-top: 6px;
    }
}
@media only screen and (max-width: 767px){
    .image-checkbox1 {
        padding: 15px 0 0;
        margin-bottom: 30px;
    }
}