<section class="quote1" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row bk_calculator1_row">
          <div class="">
            <div class="col-md-2 text-center hidden-xs hidden-sm">
              <img
                class="img_phone"
                src="{{helper.getImage()}}"
                alt="Sellmobileonline-{{model}}"
              />
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12 ">
              <div class="cal_content">
                <h3>Choose the following accessories you have</h3>
              </div>
              <div class="col-md-12">
                <div class="row  padd-content">
                  <div class="col-md-3 col-sm-4 col-xs-6 text-center" *ngFor="let x of accessoriesArray, let i = index">
                    <label class="image-checkbox1" [ngClass]="{'image-checkbox1-nobill': x.status}">
                      <img
                        class="img-responsive"
                        src="{{x.src}}"
                        alt="{{x.alt}}"
                      />
                      <p>{{ x.name }}</p>
                      <input
                        name="{{ x.alt }}"
                        type="checkbox"
                        (change)="getAccessory(x)"
                        [checked]="x.status"
                        hidden
                      />
                      <div class="triangle1">
                        <i class="fa fa-check "></i>
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="col-md-12 col-sm-12 text-right calculator1">
                <button
                  name="submit"
                  type="submit"
                  (click)="navigate()"
                  class="btn btn-info btn-info1 button hidden-xs "
                >
                  Next <i class="fa fa-angle-right"></i>
                </button>
              </div>
            </div>
            <button type="button" class="mobile_next display_none btn btn-info button" (click)="navigate()">Next <i class="fa fa-angle-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>