/* You can add global styles to this file, and also import other style files */
.common_sprite {
  height: 72px;
  width: 100px;
  /*border:1px solid grey;*/
  background-image: url('assets/img/spritimgpng.png');
  /*background-position:-4% 60%;*/
}
img.common_sprite.apple_sprite {
  background-position: 114% 40%;
}
img.common_sprite.samsung_sprite {
  background-position: 31% 41%;
}
img.common_sprite.oppo_sprite {
  background-position: 46% 42%;
}
img.common_sprite.blackberry_sprite {
  background-position: 16% 42%;
}
img.common_sprite.htc_sprite {
  background-position: 83.5% 4%;
}
img.common_sprite.lenovo_sprite {
  background-position: 16.5% 4%;
}
img.common_sprite.lg_sprite {
  background-position: 34% 5%;
}
img.common_sprite.panasonic_sprite {
  background-position: 51.5% 4%;
}

#contact h2 {
  width: 100px;
}

@media (min-width: 768px) {
  .work-line {
    width: 70%;
    left: 13em;
  }
  #work h1 span {
    font-size: inherit;
  }
  #work {
    padding: 2em 0;
  }
.image-checkbox1 {margin-bottom: 30px;}
}

.mobile_next {left: 0;z-index: 20;}
.image-checkbox1 {
  min-height: 152px;
}
.wp_mob_call {
  margin-top: 4px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .image-checkbox1 {
      min-height: 100px;
  }
  .logo {margin-left: 0;
    max-width: 120px;
    margin-top: 5px;}
  .mob-no-padding {padding: 0;}
}