<section id="quote" class="quote1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
          <app-progress-bar [activeStep]="3"></app-progress-bar>
        </div>
        <div class="col-md-2 restart hidden-xs"></div>
      </div>
  
      <div class="row">
        <div class="col-md-2 col-sm-3 col-xs-6" *ngFor="let x of versions">
          <a [routerLink]="['./'+helper.replaceSpaces(x.modal)]" (click)="saveImage(x)">
            <div class="brand_container1">
              <div class="brand_box2">
                <img
                  src="assets/admin/{{ x.product_image }}"
                  alt="Sellmobileonline-{{x.modal}}"
                />
  
                <h4>{{ x.modal }}</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  