<section class="quote1" id="quote">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="quote_bk final">
            <div class="col-md-12 ">
              <div class="modal-content1 ">
                <p class="">
                  Dear Customer sorry we cant accept phone in this condition.
                  But you can contact us on below email id
                  sellmobileonline12@gmail.com<br />
                  Thank you have a nice day.
                </p>
                <div class="col-md-12 col-xs-12  text-center">
                  <button type="button" [routerLink]="['/']" class="btn btn-info button final_button">
                    Check Another Device
                  </button>
                </div>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>